<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
            <title>ポケモン登録確認</title>
    </head>
    <body>
        <form method="post" action="index.php">
            <table>
                    <tr>
                        <th>なまえ</th>
                        <input type="hidden" name="pokemon_name" value="{{dataArr.pokemon_name}}" />
                        <td>{{dataArr.pokemon_name}}</td>
                    </tr>
                    <tr>
                        <th>せつめい</th>
                        <input type="hidden" name="detail" value="{{dataArr.detail}}" />
                        <td>{{dataArr.detail}}</td>
                    </tr>
                    <tr>
                        <th>HP</th>
                        <input type="hidden" name="hp" value="{{dataArr.hp}}" />
                        <td>{{dataArr.hp}}</td>
                    </tr>
                    <tr>
                        <th>タイプ1</th>
                        <td>
                            <input type="hidden" name="type_id" value="{{dataArr.type_id}}" />
                            {{ attribute(typeArr,dataArr.type_id) }}
                        </td>
                    </tr>
                    <tr>
                        <th>タイプ2</th>
                        <td>
                        <input type="hidden" name="type_id2" value="{{dataArr.type_id2}}" />
                        {{ attribute(typeArr,dataArr.type_id2) }}
                        </td>
                    </tr>
                </table>
                <div>
                <input type="submit" name="back" value="戻る" />
                <input type="submit" name="complete" value="登録完了" />
                </div>
        </form>
    </body>
</html>