<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <script language="JavaScript" type="text/javascript" src="{{constant('pokemon\\Bootstrap::ENTRY_URL')}}js/jquery-3.2.1.min.js"></script>
        <script language="JavaScript" type="text/javascript" src="{{constant('pokemon\\Bootstrap::ENTRY_URL')}}js/pokemon.js"></script>
        <link href="{{constant('pokemon\\Bootstrap::ENTRY_URL')}}css/pokemon.css"
        rel="stylesheet" type="text/css" />
    </head>
    <body>
        <input type="hidden" name="entry_url"
        value="{{constant('pokemon\\Bootstrap::ENTRY_URL')}}" id="entry_url" >
        <div id="wrapper">
            {% include 'pokemon_type.html.twig' %}
            <div id="pokemon_detail">
                <div class="image">
                    <img src="{{constant('pokemon\\Bootstrap::ENTRY_URL')}}images/{{pokemonData.image}}.png"
                    alt="{{pokemonData. pokemon_name}}" />
                </div>
                <div class="detail">
                    <dl>
                        <dt>なまえ</dt><dd>{{pokemonData.pokemon_name}}</dd>
                        <dt>せつめい</dt><dd>{{pokemonData.detail}}</dd>
                        <dt>HP/</dt><dd>{{pokemonData.hp|number_format(0,'.',',')}}</dd>
                        <input type="hidden" name="pokemon_id" id="pokemon_id" value="{{pokemonData. pokemon_id}} ">
                    </dl>
                </div>
                <div class="party_in">
                    <input type="button" name="back" value="一覧へ戻る" onclick="history.back(); return false;" />
                    <input type="button" name="party_in" value="パーティーへ組み込む" id="party_in" />
                </div>
            </div>
        </div>
    </body>
</html>