<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link href="{{constant('pokemon\\Bootstrap::ENTRY_URL')}}css/pokemon.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="wrapper">
            {% include 'pokemon_type.html.twig' %}
            <p><a href="{{constant('pokemon\\Bootstrap::ENTRY_URL')}}index.php?display=regist">みつけたポケモンを登録する</a></p>
            <div id="pokemon_list">
                {% for value in dataArr %}
                    <div class="pokemon">
                        <ul>
                            <li class="name"><a href="{{constant('pokemon\\Bootstrap::ENTRY_URL')}}index.php?display=detail&pokemon_id={{value.pokemon_id}}">{{value.pokemon_name}}</a></li>                        <li>HP/{{value.hp|number_format(0, '.', ',')}}</li>
                            <li class="image"><a href="{{constant('pokemon\\Bootstrap::ENTRY_URL')}}index.php?display=detail&pokemon_id={{value.pokemon_id}}"><img src="{{constant('pokemon\\Bootstrap::ENTRY_URL')}}images/{{value.image}}.png"alt="{{value.pokemon_name}}" /></a></li>
                            <li class="detail"><a href="{{constant('pokemon\\Bootstrap::ENTRY_URL')}}index.php?display=detail&pokemon_id={{value.pokemon_id}}">詳細</a></li>
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>

